<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Sistema desenvolvido utilizando Angular</p>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-3">
                                    <input type="text" formControlName="username"
                                        class="form-control border-0 shadow-sm px-4"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Usuário" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Nome de usuário obrigatório</div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" formControlName="password"
                                        class="form-control border-0 shadow-sm px-4"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Senha" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Senha obrigatório</div>
                                    </div>
                                </div>
                                <button [disabled]="loading"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Entrar 
                                    &nbsp;<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </button>
                                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                            </form>
                            <p>
                                <strong>Usuário:</strong>&nbsp;test@test.com
                                <br>
                                <strong>Senha:</strong>&nbsp;test
                            </p>
                        </div>

                        
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>